@font-face {
	font-family: "UthmanicHafs";
	src: url("./fonts//UthmanicHafs1Ver18.woff2") format("woff2"),
		url("./fonts/UthmanicHafs1Ver18.ttf") format("ttf"), ;
}

body {
	font-family: UthmanicHafs, Helvetica;
}